.p{
    display: flex;
  justify-content: flex-end;
  margin-left: 75%;
  background-color: rgb(231, 175, 135);
}
.card{
  align-content: center;
  
}
.premium-button {
  position: absolute;
  top: 0;
  left: 0;
}